{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'chat/form.css' %}">
    <title>First message</title>
</head>
<body>
<form action="" method="post" class="form-example"> {% csrf_token %}
  <div class="form-example">
    <label for="name">Enter your name: </label>
    <input type="text" name="name" id="name" required>
  </div>
  <div class="form-example">
    <label for="firstMessage">First message: </label>
    <input type="text" name="firstMessage" id="firstMessage" required>
  </div>
  <div class="form-example"> <a href="/chat" class="dark" style="cursor: pointer;">
    <input type="submit" value="Send">
  </div>
</form>
</body>
</html>